{% extends 'base-maleteo.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block content %}
<div class="wrapper">
    <section class="app-form">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="the-form">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Has iniciado sesión como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                            </div>
                        {% endif %}

                        <h1 class="the-form__title heading3">Por favor, inicia sesión</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="the-form__input" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="the-form__input" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>


                        <button class="the-form__btn btn btn-lg btn-primary" type="submit">
                            Registrarme
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
