<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
{#        {% block title %}#}
            Maleteo-app
{#        {% endblock %}#}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
   {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/styles.css">
   {% endblock %}

   {# {% block javascripts %}
        #}{# {{ encore_entry_script_tags('app') }} #}{#
    {% endblock %}#}
</head>
<body>
        <div class="wrapper">
            <div class="container-fluid col-md-12">
                <header class="row">
                    <div class="col-md-8">
                        <img src="/assets/img/logo.svg" alt="Maleteo" class="header__logo">
                    </div>
                    <div class="col-md-4">
                        {% if is_granted("ROLE_USER") %}
                            <a href="{{ path("app_logout") }}"><button class="the-form__btn btn btn-lg btn-primary">Cerrar sesión</button></a>
                        {% else %}
                            <a href="{{ path("registro") }}"><button class="the-form__btn btn btn-lg btn-primary">Regístrate</button></a>
                            <a href="{{ path("app_login") }}"><button class="the-form__btn btn btn-lg btn-primary">Inicia sesión</button></a>
                        {% endif %}

                    </div>
                </header>
            </div>

        </div>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <div class="wrapper">
                <div class="container-fluid">
                    <img src="/assets/img/logo.svg"
                         alt="Maleteo"
                         class="footer__logo">
                    <p class="footer__claim">
                        Hecho con ❤️en Madrid
                    </p>
                </div>
            </div>
        </footer>
</body>
</html>
