{% extends 'base-maleteo.html.twig' %}
{% block content %}
    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    <main>
        <div class="jumbo">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="jumbo__ww-title">
                                <div class="jumbo__w-title">
                                    <h1 class="jumbo__title heading1">
                                        Gana dinero guardando equipaje a viajeros como tu
                                    </h1>
                                    <ul class="jumbo__app-btns">
                                        <li>
                                            <a href="#">
                                                <img src="/assets/img/app-store.svg"
                                                     alt=""
                                                     class="jumbo__app-btn">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="/assets/img/google-play.svg"
                                                     alt=""
                                                     class="jumbo__app-btn">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container-fluid">
                <section class="howworks">
                    <h2 class="howworks__title heading2">
                        ¿Cómo funciona?
                    </h2>
                    <ol class="howworks__steps row">
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                        quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                        quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                        quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </section>
                <section class="app-form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="app-form__w-app-img">
                                <img src="assets/img/iPhoneX.png"
                                     srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                                     alt=""
                                     class="app-form__app-img">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="the-form">
                                {{ form_start(form) }}

                                <p class="the-form__title heading3">
                                    Solicita una demo
                                </p>

                                <div class="the-form__group">

                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'the-form__input', 'id': 'name', 'placeholder': 'Vincent Chase'} }) }}

                                </div>

                                <div class="the-form__group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'the-form__input', 'id': 'email', 'placeholder': 'vincent@mga.com'} }) }}
                                </div>

                                <div class="the-form__group">
                                    {{ form_label(form.city) }}
                                    {{ form_widget(form.city, {'attr': {'class': 'the-form__input the-form__select', 'id': 'city'} }) }}
                                </div>

                                <div class="the-form__group the-form__group_checkbox">
                                    <input type="checkbox"
                                           id="privacity">
                                    <label for="privacity">
                                        Aceptas la <a href="#">política de privacidad</a>
                                    </label>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <div class="the-form__group">
                                    {{ form_widget(form.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'} }) }}
                                </div>
                                {{ form_end(form) }}
                                    <a href="maleteo/solicitudes">
                                        <button class="the-form__btn btn btn-lg btn-primary">Ver solicitudes</button>
                                    </a>

                            </div>
                        </div>
                    </div>
                </section>
                <section class="opinions">
                    <h2 class="opinions__title heading2">
                        Opiniones de otros guardianes
                    </h2>
                    <ul class="row">
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un
                                    galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un
                                    galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un
                                    galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
{% endblock %}
