{% extends 'index.html.twig' %}
{% block content %}
<div class="wrapper">
    <section class="app-form">
        <div class="row">
            <div class="col-md-5">
                <div class="app-form__w-app-img">
                    <img src="assets/img/iPhoneX.png"
                         srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                         alt=""
                         class="app-form__app-img">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="the-form">

                        {{ form_start(opinion) }}

                        <p class="the-form__title heading3">
                            Deja tu comentario
                        </p>

                        <div class="the-form__group">

                            {{ form_label(opinion.author, 'Nombre') }}
                            {{ form_widget(opinion.author, {'attr': {'class': 'the-form__input', 'id': 'name', 'placeholder': 'Vincent Chase'} }) }}

                        </div>

                        <div class="the-form__group">
                            {{ form_label(opinion.comment, 'Comentario') }}
                            {{ form_widget(opinion.comment, {'attr': {'class': 'the-form__input', 'id': 'comment', 'placeholder': 'Incluya su opinión'} }) }}
                        </div>

                        <div class="the-form__group">

                            {{ form_label(opinion.city, 'Ciudad') }}
                            {{ form_widget(opinion.city, {'attr': {'class': 'the-form__input', 'id': 'city'} }) }}
                        </div>

                        <div class="the-form__group the-form__group_checkbox">
                            <input type="checkbox"
                                   id="privacity">
                            <label for="privacity">
                                Aceptas la <a href="#">política de privacidad</a>
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        {{ form_widget(opinion.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'} }) }}


                        {{ form_end(opinion) }}

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}