{% extends 'index.html.twig' %}

{% block content %}

        {% for opinion in opinions %}
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="the-form">
                        <p>{{ opinion.author }}</p>
                        <p>{{ opinion.comment }}</p>
                        <p>{{ opinion.city }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}


{% endblock %}