{% extends 'index.html.twig' %}


{% block content %}
    <div class="wrapper">
        <section class="app-form">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="the-form">

                        {{ form_start(registro) }}

                        <p class="the-form__title heading3">
                            Registro
                        </p>

                        <div class="the-form__group">

                            {{ form_label(registro.name, 'Nombre') }}
                            {{ form_widget(registro.name, {'attr': {'class': 'the-form__input', 'id': 'name', 'placeholder': 'Vincent Chase'} }) }}

                        </div>
                        <div class="the-form__group">

                            {{ form_label(registro.email, 'Email') }}
                            {{ form_widget(registro.email, {'attr': {'class': 'the-form__input', 'id': 'email', 'placeholder': 'vincent@mga.com'} }) }}

                        </div>

                        <div class="the-form__group">
                            {{ form_label(registro.password) }}
                            {{ form_widget(registro.password, {'attr': {'class': 'the-form__input', 'id': 'password'} }) }}
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        {{ form_widget(registro.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'} }) }}


                        {{ form_end(registro) }}

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}