{% extends 'base-maleteo.html.twig' %}

{% block main %}
    <div class="row">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1>Lsitado de Solicitudes</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Posición</th>
                <th>Nombre/email</th>
                <th>Ciudad</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{solicitud.name}}>{{ solicitud.email }}>{{ solicitud.city }}</td>
{#                    <td>><i class="bi bi-trash" role="button"></i></a></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#        <a class="btn btn-primary" href="/netflix/showForm">Nueva Pelicula (modo antiguo)</a>#}
{#        <a class="btn btn-primary" href="/netflix/new">Nueva Pelicula</a>#}

    </div>
{% endblock %}
